<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inceptionlabs.restaraunt">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="food inn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="food inn"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Cart" />
        <activity
            android:name=".Activities.Menu"
            android:label="MENU"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.User_cart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Signin_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.user_cart_pop_up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomDialog" />
        <activity
            android:name=".Activities.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Payment"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Delivery_address"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ApplyCoupon"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomDialog" />
        <activity
            android:name=".Activities.Order_history"
            android:label="@string/title_activity_order_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.radio"
            android:label="radio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Feddback"
            android:label="@string/title_activity_feddback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Privacy_policy"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.radio_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Payment_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Paytm_pay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Order_details"></activity>
    </application>

</manifest>